@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:active {
    opacity: 0.5;
}

@layer utilities {
    .transition-duration-1 {
        transition-duration: 1s;
    }
}
